body {
  padding: 0;
  margin: 0;
  font-family: "britannic-bold-regular", sans-serif !important;
}
/* =============== navbar styling =================== */
.main-nav nav ul {
  list-style: none;
}

/* ============ background-images =============*/

.hero-bg-img {
  background-image: url("../images/Hero-bg.png");
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: 70%;
}

.business-img {
  background-image: url("../images/business.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.pattern-img {
  background-image: url("../images/pattern-large.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50px;
  width: 100%;
}

.technology-bg {
  background-image: url("../images/technology.png");
  background-repeat: no-repeat;
  min-height: 350px;
  background-size: cover;
}

/* ============= common classes ================ */

/* =========== all-common-colors-of-website ======= */
.bg-blue {
  background-image: linear-gradient(288deg, #011d50, #0b4180) !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-gray {
  background-color: #8f8f8f;
}
.border-blue {
  border: 2px solid #0b4180 !important;
  border-radius: 0px 0px 7px 7px;
}
.border-curve {
  border-radius: 10px 10px 0px 0px;
}

.text-blue {
  color: #0b4180 !important;
}
.text-gray {
  color: #8f8f8f !important;
}
.text-dark-gray {
  color: #3b3a3a !important;
}
.text-dark-blue {
  color: #011d50 !important;
}
.bg-pink {
  background-color: #f04168 !important;
}

/* =========== all-common-colors-of-website-end ======= */
.primary-button {
  padding: 5px 15px !important;
  font-size: 18px !important;
  font-weight: normal !important;
}
.cursor-pointer {
  cursor: pointer;
}

/* =========== font-sizes ============= */
.text-xsm {
  font-size: 14px;
}
.text-sm {
  font-size: 18px !important;
}
.text-md {
  font-size: 24px;
}
.text-lg {
  font-size: 30px;
}
.text-xlg {
  font-size: 58px;
}

/* =========== font-end ============= */

/* =========== vertical-&-horizental-lines =============== */
.horizental-line {
  width: 80px;
  height: 4px;
}
.horizental-line2 {
  width: 25px;
  height: 3px;
}
.horizental-full-line {
  width: 100%;
  height: 1px;
}
.vertical-line {
  width: 4px;
  height: 80px;
}
/* =========== vertical-&-horizental-lines-end =============== */

/* ============== hover-effect-styling ============== */
.hover:hover {
  color: #b6c7d9 !important;
  transition: 0.5s;
}
.popup-width {
  transition-timing-function: ease-in;
  transition: 0.5s;
}
.popup-width:hover {
  transform: scale(1.05);
}
/* ============== hover-effect-styling-end ============== */

/* ============== common-spaces ============== */
.mr {
  bottom: 0px;
  right: 60px !important;
}
.z-10 {
  z-index: 10;
}

.box-shadow {
  box-shadow: 0 0 18px 0 rgb(9 2 45 / 25%);
  border-radius: 10px 10px 10px 10px;
}
/* ============ mobile-responsive ============= */
@media (max-width: 479px) and (min-width: 320px) {
  .hero-bg-img {
    background-size: cover;
  }
  .position-unset {
    position: unset !important;
  }
}
@media (max-width: 567px) and (min-width: 480px) {
  .hero-bg-img {
    background-size: cover;
  }
  .position-unset {
    position: unset !important;
  }
}

@media (max-width: 684px) and (min-width: 568px) {
  .hero-bg-img {
    background-size: cover;
  }
  .mob-d-none {
    display: none !important;
  }
  .hamburgar {
    display: flex !important;
  }
  .mob-w-full {
    width: 100% !important;
  }
  .mob-flex-col {
    flex-direction: column !important;
  }
  .mob-items-center {
    align-items: center;
  }
  .technology-para {
    width: 100%;
  }
  .position-unset {
    position: unset !important;
  }
}
@media (max-width: 767px) and (min-width: 685px) {
  .hero-bg-img {
    background-size: cover;
  }
  .mob-d-none {
    display: none !important;
  }
  .hamburgar {
    display: flex !important;
  }
  .mob-w-full {
    width: 100% !important;
  }
  .mob-flex-col {
    flex-direction: column !important;
  }
  .mob-items-center {
    align-items: center;
  }
  .technology-para {
    width: 100%;
  }
  .position-unset {
    position: unset !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hero-bg-img {
    background-size: cover;
  }
  .mob-d-none {
    display: none !important;
  }
  .hamburgar {
    display: flex !important;
  }
  .mob-w-full {
    width: 100% !important;
  }
  .mob-flex-col {
    flex-direction: column !important;
  }
  .mob-items-center {
    align-items: center;
  }
  .technology-para {
    width: 100%;
  }
  .position-unset {
    position: unset !important;
  }
}
@media (max-width: 1199px) and (min-width: 1024px) { 
  .hero-bg-img {
    background-size: 76%;
  }
} 